* {
font-family: "Quicksand", sans-serif;
scroll-behavior: smooth; 
scroll-margin-top: 55px;
}

header,
header a,
#welcome,
#welcome i {
    color: orange;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    margin: 0;
}

section {
    margin: 65px auto;
}

.content {
    background-color: lightyellow;
}

a {
    color: inherit;
}
    /* ________________ */
    /* ----HEADER----- */
    /* ________________*/

h1 {
    font-weight: 400;
    display: inline-block;
    margin: 8px auto 8px 5px;
    grid-area: h1;
}

h1 a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "h1 burger"
        ". menu";
    background-color: white;
}

.burger-menu {
    grid-area: burger;
    justify-self: end;
}

.fa-bars {
    cursor: pointer;
}

header i {
    margin:  20px 10px 20px auto;
    font-size: 1.3rem;
}

header li a {
    text-decoration: none;
    font-weight: 500;
}

header li {
    list-style-type: none;
    padding: 10px 10px;
    text-align: center;
}

header ul {
    display: none;
    grid-area: menu;
    justify-self: end;
    background: lightgrey;
    margin: 0;
    padding: 20px;
}

header ul.open {
    display: block;
}

    /* _____________ */
    /* ----MAIN----- */
    /* _____________ */

main {
    margin: auto 50px;
    color: darkslategray;
}

#welcome {
    text-align: center;
    height: 59vh;
    margin: 0;
    padding: 30% 0;
    
}

#welcome h2 {
    font-size: 1.7rem;
}

#welcome i {
    font-size: 2rem;
}

.i-am {
    font-size: 2rem;
}
    /* WORK */

#work {
    margin: 20px auto;
    display: none;
}

.work-card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.work-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* spaces content vertically */
    border-radius: 7px;
    box-shadow: 0 0 7px grey;
    padding: 10px;
    overflow: auto;
    background-color: #efefef;
}

.work-card img {
    width: 100%;
    display: block;
    margin: 0 auto;
}    

/* .work-card i {
    font-size: 1.3rem;
} */

.icon-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icon-group i {
    font-size: 1.3rem;
}


.link-button {
    padding: 14px 25px;
    background-color: rgb(158, 1, 61);
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-top: 15px;
    text-decoration: none;
}


    /* ABOUT ME */

#about-me img {
    max-height: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

#about-me p {
    text-align: center;
}

.about-me-wrapper ul {
    min-width: 200px;
}

/* COMING SOON */

#illustration h2,
#threed h2 {
    margin: 250px auto;
    text-align: center;
    font-size: 2.5rem;
}

/* ILLUSTRATION */

.illu-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    background: whitesmoke;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 0px 5px 2px rgba(55, 27, 27, 0.2);
    margin: 15px 0;
}

.illu-img img {
    max-width: 100%;
}

.illu-container .small-img {
    max-width: 49%;
}

/*ANIMATION*/

.video-thumbnail {
  position: relative;
  display: inline-block;
  min-width: 90%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.video-thumbnail:hover {
  transform: scale(1.03);
}

.video-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  padding: 10px 16px;
  border-radius: 50%;
  pointer-events: none;
}

/* 3D */

.container3D {
  width: 100%;
  height: 80vh;
  border-radius: 16px;
  overflow: hidden;
  background: radial-gradient(circle at center, #111, #000);
}

.controls3D {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.controls3D button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.controls3D button:hover {
  background: white;
  color: black;
}


    /* _____________ */
    /* ----FOOTER----- */
    /* _____________ */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: burlywood;
}

footer img {
    max-width: 30px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: 10px 0;
}

.social-icons {
    min-width: 100px;
}

.social-icons a:last-of-type img{
    max-height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* -----Toggle Switch----- */
.toggle-container {
      display: flex;
      align-items: center;
      font-family: sans-serif;
      gap: 5px;
    }

.toggle-container span {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(158, 1, 61);
}
    
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 23px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      transition: 0.4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 3px;
      bottom: 2px;
      background-color: #f5664c;
      transition: 0.4s;
      border-radius: 50%;
    }


    input:checked + .slider:before {
      transform: translateX(19px);
    }

/* BREAKPOINT TABLET */

@media (min-width: 768px) {

    /* ----HEADER---- */
    .toggle-container {
        top: 96%;
        left: 85%;
    }

    .social-icons {
        top: 96%;
    }

    .burger-menu {
        display: none;
    }

    header ul {
        display: block;
        grid-area: burger;
        justify-self: stretch;
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    
    header li {
        display: inline;
    }

    /* ----MAIN----- */

    .work-card-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .about-me-wrapper {
        display: flex;
        gap: 20px;
        background-color: whitesmoke;
        border-radius: 0 5px 5px 0;
        padding-right: 20px;
    }

    #about-me p {
        padding-right: 15px;
        text-align: left;
        margin: auto;
    }

    #about-me img {
        border-radius: 5px 0 0 5px;
        height: 100%;
    }

    #welcome {
        height: 45vh;
        margin: 0;
        padding: 20% 0;
    }

    /* ILLUSTRATION */

    .illu-container {
    grid-template-columns: 2fr 1fr;
    }
}

/* BREAKPOINT Desktop */

@media (min-width: 1024px) {
    /* .work-card-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    } */

    #welcome {
        height: 40vh;
        margin: 0 auto;
    }

    .illu-container .small-img {
    max-width: 49.6%;
    }
}


    /* __________________ */
    /* ----ANIMATION----- */
    /* ___________________*/

.video-card {
    max-width: 100%;

}

.video-card iframe {
    max-width: 100%;
}

/* BREAKPOINT TABLET */

@media (min-width: 768px) {
    #videos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}